<h3>AdGate analysis results</h3>


<div>
    <% model.ruleResults.forEach(function(ruleResult) { %>
        <div>
            <h3><%= getRuleDisplayName(ruleResult.name) %></h3>
            <div>
                <% ruleResult.recommendations.forEach(function(recommendation) { %>
                    <div class="recommendation-container">
                    <div class="alert <%= getStatusClass(recommendation.status) %>">

                        <i class='material-icons'><%= getStatus(recommendation.status) %></i>  <%= getDisplayName(recommendation.name) %>

                        <span class='details'>
                            <a href='../recommendation/<%= model.id %>/<%= ruleResult.name %>/<%= recommendation.name %>' class='show_details' ><i class='material-icons'>arrow_forward</i></a>
                        </span>

                    </div>
                    <div class="details-meta">

                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
</div>

