<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🚀:: Results</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <style>
        .validation-item {
            overflow: auto;
            border-bottom: 1px solid gray;
            vertical-align: middle;

        }

        .res-img {
            width: 100px;
            height: 100px;
            float: left;
            margin: 10px;
        }

        .res-img img {
            width: 100%;
            height: 100%;
        }

        .res-msg {
            padding: 5px;
            float: left;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }

        .alert {
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }

        .alert-danger {
            background-color: #f2dede;
            border-color: #ebcccc;
            color: #a94442;
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <div class="container">

        <div>
            <h3>
                <a target="_blank" href='<%= model.url%>'>
                    <%= model.url%>
                </a>
            </h3>
            <% if(model.issueCount>0) { %>
                <div class="alert alert-danger">
                    <strong>
                        <%=  model.issueCount %> Issues found.</strong>
                </div>
                <% } else { %>
                    <div class="alert alert-success">
                        <strong>No issues found :)</strong>
                    </div>
                    <% } %>

                        <hr>
                        <h4>Image scaling</h4>

                        <% if(model.result.image.length>0) { %>
                            <div class="alert alert-danger small">
                                <%=  model.result.image.length %> Issues.</div>
                            <% } else { %>
                                <div class="alert alert-success small"> No issues found :)</div>
                                <% } %>


                                    <% model.result.image.forEach(function(item) { %>
                                        <div class="validation-item">
                                            <div class="res-img">
                                                <img src='<%= item.url %>'>
                                            </div>
                                            <div class="res-msg">
                                                <%= item.naturalWidth %>*
                                                    <%= item.naturalWidth %> has been scaled down to
                                                        <%= item.computedWidth %>*
                                                            <%= item.computedWidth %>
                                            </div>
                                        </div>
                                        <% }); %>

                                            <h4>Console logging</h4>
                                            <% if(model.result.consoleEntries.length>0) { %>
                                                <div class="alert alert-danger small">
                                                    <%=  model.result.consoleEntries.length %> Issues.</div>
                                                <% } else { %>
                                                    <div class="alert alert-success small">No issues found :)</div>
                                                    <% } %>

                                                        <% model.result.consoleEntries.forEach(function(item) { %>
                                                            <div class="validation-item">
                                                                <div class="res-msg">
                                                                    <%= item %>
                                                                </div>
                                                            </div>
                                                            <% }); %>

                                                            <hr/>
                                                            <div class="row">
                                                                <p class="text-muted small text-center">Waited <%=  model.delay %> seconds before analysis.Took <%=  model.perfTimings[0].imageValidation %> for image analysis</p>

                                                            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {

        });
    </script>
</body>

</html>