<div>
    <h4>Rule: Too many network calls</h4>
    <p>strong>Status: <%= getStatusName(model.status) %></strong></p>
    <p>Making too many calls from the browser will slow down the rendering experience.</p>
    <h4>What this rule checks</h4>
    <ul>
        <li>If number of requests made <5 : Passed</li>
        <li>If number of requests made >5 and <8 : Warning</li>
        <li>If number of requests made >5 : Failed</li>
    </ul>

    <%

    var allRequests = meta;
    if(allRequests)
    {


        %>
        <p>This page made <strong> <mark><%= allRequests.length %></mark></strong> network calls</p>
        <table class="table table-striped small">
            <thead class="thead">
                <tr>
                    <th>URL</th>
                    <th>Type</th>
                    <th>Method</th>
                </tr>
            </thead>
            <% allRequests.forEach(function(item) { %>
                <tr>
                    <td>
                        <%= item.url %>
                    </td>
                    <td>
                            <%= item.type %>
                    </td>
                    <td>
                            <%= item.method %>
                    </td>
                </tr>
                <% }); %>
        </table>
        <%
    }
%>


</div>

